.DS_Store
node_modules

/dist
/dist-native

pnpm-lock.yaml
auto-imports.d.ts

public/sql-wasm.wasm
public/_

.mise.local.toml

tmp_*
*.db
**/*.csv
**/*.tsv
__pycache__
.scrapy/

# Playwright
/playwright-data
/test-results
/playwright-report
/screenshots

/misc

